body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Consolas, monospace;
  overflow-x: hidden;
  overflow-y: auto; /* 縦方向のスクロールを有効にする */
}

/* 全体のコンテナ */
#cmd-container {
  height: 100vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden; /* 全体でスクロールを隠す */
  background-color: #000000; /* 背景色を黒に */
  color: #ffffff; /* テキスト色を緑に */
  font-family: "Consolas", monospace; /* フォントを設定 */
  overflow-x: hidden;
  overflow-y: auto; /* 縦方向のスクロールを有効にする */
}

/* 出力エリア */
#cmd-output {
  width: 100%;
  max-width: 100%;
  height: auto;
  word-wrap: break-word; /* 単語の途中でも改行を許可 */
  word-break: break-all; /* 全ての文字で改行を許可 */
  background-color: #000000; /* 背景色を黒に */
  color: #ffffff; /* テキスト色を緑に */
  padding: 1px 10px;
  font-size: 16px;
}

/* 入力エリアを出力の直下に配置 */
#cmd-input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

#cmd-input {
  max-width: 100%;
  flex-grow: 1;
  background-color: inherit;
  color: #ffffff;
  border: none;
  outline: none;
  font-family: "Consolas", monospace;
  font-size: 16px;
  resize: none;
}

#cmd-input::selection {
  background-color: #00ff00;
  color: #ffffff;
}

/* スクロールバー全体のスタイル */
::-webkit-scrollbar {
  width: 8px; /* スクロールバーの幅 */
  height: 8px; /* 水平方向のスクロールバーの高さ */
}

/* スクロールバーのトラック（背景） */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* 背景色 */
  border-radius: 10px; /* 角の丸み */
}

/* スクロールバーのつまみ */
::-webkit-scrollbar-thumb {
  background-color: #ffffff; /* スクロールバーの色 */
  border-radius: 10px; /* 角の丸み */
  border: 2px solid #1e1e1e; /* つまみの周りに隙間を作る */
}

/* スクロールバーのつまみがホバーされたとき */
::-webkit-scrollbar-thumb:hover {
  background-color: #388e3c; /* ホバー時の色 */
}

/* スクロールバーのつまみがアクティブ（クリックされたとき） */
::-webkit-scrollbar-thumb:active {
  background-color: #2e7d32; /* アクティブ時の色 */
}

/* スクロールバーのコーナー（垂直・水平スクロールバーの交差点） */
::-webkit-scrollbar-corner {
  background: #1e1e1e; /* 交差点の背景色 */
}

/* Remove any margin/padding from the top elements if necessary */
body > *:first-child,
#cmd-container > *:first-child {
  margin-top: 0;
  padding-top: 0;
}
